html {
  font-size: 12px;
}
body {
  background-color: $main-bg-color;
  font-family: 'Courier';
  font-size: 12px;
}

header{

}

main{
  padding:5vh 5vw;
}

@include smaller-than-size($iphone6PlusPortrait){
  main{
    padding:2vh 2vw;
  }
}
