//Colors
$main-bg-color: #040404;
$nc-black: #040404;
$nc-blue: #37bbe4;
$nc-green:#11bf52;
$nc-orange:#ff6600;

//Device Sizes
$iphone6Portrait: 375px;
$iphone6Landscape: 667px;
$iphone6PlusPortrait: 414px;
$iphone6PlusLandscape: 736px;
$iphone5Portrait: 320px;
$iphone5Landscapre: 568px;

$ipad: 768px;// No need for landscape, as big as desktop
